.block-h{
    background-color: #74CFC4;
    height: 100px;
}

.block-n{
   background-color: #FB9693;
   height: 30px;
}
.p1{
    margin: 0;
}
.menu{
    float: left;
    width: 20%;
    height: 400px;
    background-color: #9CCA9C;
}
.content{
    float: right;
    width: 80%;
    height: 400px;
    background-color: #CCCFD0;
}
.block-f{
    background-color: #0466FC;
    height: 200px;
    display: inline-block;
    width: 100%;
}
.maindiv>div{
    display: inline-block;
    width: 150px;
    font-size: 25px;
}
#header1{
background-color: #984807;
color: white;
height: 50px;
margin-bottom: 4px;
border:1px solid blue;

}
#header2{
background-color: #77933C;
color: white;
height: 50px;
margin-bottom: 4px;
border:1px solid blue;

}
#header3{
background-color: #376092;
color: white;
height: 50px;
margin-bottom: 4px;
border:1px solid blue;

}
.span1{
    display: block;
    text-align: center;
}
#col1{
    width: 99%;
    height: 200px;
    background-color: #FAC090;
    text-align: center;
    border:1px solid blue;

}
#col2{
    width: 99%;
    height: 200px;
    background-color: #C3D69B;
    text-align: center;
    border:1px solid blue;

}
#col3{
    width: 99%;
    height: 200px;
    background-color: #95B3D7;
    text-align: center;
    border:1px solid blue;
}

.back-F{
    background-color: #4FABD3;
    display: inline-block;
    width: 580px;
    height: 340px;
}
.block-form{
  margin-left: 110px;
  margin-top: 30px;
background-color: #FFFFFF;
border: 8px solid #4EA1C5;
border-radius: 2px;
width: 340px;
height: 240px;
}
.uptext-f{
border-bottom: 1px solid #CFCFCF;
background-color: #F5F7F8;
color: #555555;
height: 40px;
text-align: center;
}
.text-u-f{
    padding-top: 13px;
    display: block;
}
.input{
    margin-top: 20px;
    margin-left: 15px;
    width: 300px;
}
.input1{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 300px;
}
.button-f{
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 17px;
    
}
.text-in-f{
    margin-left:-50px;
    font-size: 14px;
    color: #CFCFCF;
}
.btn-f1{
border-radius: 20px;
border: #CFCFCF;
background-color: #CFCFCF;;
height: 30px;
width: 60px;
}

.btn-f1:hover{
    border: #cfcfcfba;
    background-color: #cfcfcfba;;
    }